@model TrustRadhe.Models.Setting

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <br />
        @*<h4 class="page-header">Change Associate Password</h4>*@
    </div>
    <!-- /.col-lg-12 -->
</div>

@using (Html.BeginForm("ChangeAdminPassword", "Setting", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    
    <p style="color: red">@TempData["ChangeAsspassword"] </p>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Change Admin Password
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    @*<div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                Login Id <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @onchange = "getmembername(this);" })
                                @Html.ValidationMessageFor(m => m.LoginId)
                            </div>
                        </div>
                    </div>*@

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                Old Password <span style="color: red">*</span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "Old Password" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                New Password <span style="color: red">*</span>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @Placeholder = "New Password" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="btn btn-success pull-right" onclick="return validateform()" type="submit" value="Change Password" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<script>
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#Password').val() == '') {
            $("#Password").addClass('errortext');
            $('#Password').focus();
            return false;
        }
        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $('#NewPassword').focus();
            return false;
        }
        
        return true;
    }

    function getmembername() {
        debugger;
        var LoginId = $('#LoginId').val();
        $.ajax({
            url: '/Setting/GetMemberName',
            type: "GET",
            dataType: "JSON",
            data: { LoginId: LoginId },
            success: function (data) {
                debugger;
                if (data.Result == "Yes") {
                    $('#txtname').html(data.DisplayName);

                    divname.style.display = "block";
                } else {
                    alert("Invalid Sponser Id");
                    $('#txtname').html("");
                    $('#LoginId').val("");

                }
            }
        });
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
