@model TrustRadhe.Models.Wallet

@{
    ViewBag.Title = "ProductWalletLedger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Wallet Ledger
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Transaction Date</th>
                            <th>Narration</th>
                            <th>Credit</th>
                            <th>Debit</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.lstewalletledger != null)
                            {
                                int i = 1;
                                foreach (var Item in Model.lstewalletledger)
                                {
                                    <tr class="text-left">
                                        <td>@i</td>
                                        <td>@Item.AddedOn</td>
                                        <td>@Item.Narration</td>
                                        <td>@Item.CrAmount</td>
                                        <td>@Item.DrAmount</td>
                                        <td>@Item.ProductWalletBalance</td>
                                    </tr>
                                    i++;
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<script src="../vendor/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>



