@model TrustRadhe.Models.Wallet

@{
    ViewBag.Title = "CreatePin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Pin Management
                </a>
            </li>
            <li class="active">
                Create Pin
            </li>

        </ol>


    </div>
</div>
<br />

@using (Html.BeginForm("CreatePinAction", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <span style="color: red">
        @TempData["createpin"]
    </span>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create Pin


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Login Id <span style="color: red">*</span></label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id", @onchange = "getname();" })
                                    <span id="spName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Package <span style="color: red">*</span></label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(m => m.Package, new SelectList(ViewBag.ddlProduct, "Value", "Text"), new { @class = "form-control", @onchange = "FillAmount();" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Amount <span style="color: red">*</span></label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @placeholder = "Amount", @disabled = "disabled", @onkeypress = "return isNumberKey(event);", @onchange = "getfinalamount();" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">No of Pins <span style="color: red">*</span></label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.NoofPins, new { @class = "form-control", @placeholder = "No of Pins", @onchange = "getfinalamount();", @onkeypress = "return isNumberKey(event);" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Total Amount <span style="color: red">*</span></label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.FinalAmount, new { @class = "form-control", @placeholder = "Total Amount", @disabled = "disabled" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <input class="btn btn-success" onclick="return validateform()" type="submit" value="Create Pin" />

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
}
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function getfinalamount() {
        var Amount = $('#Amount').val();
        var NoofPins = $('#NoofPins').val();
        var finalamt = parseInt(Amount) * parseInt(NoofPins);
        $('#FinalAmount').val(finalamt);
    }

    function validateform() {
        $(".errortext").removeClass("errortext");


        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }

        if ($('#Package').val() == '0') {
            $("#Package").addClass('errortext');
            $('#Package').focus();
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if ($('#Amount').val() == '0') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if ($('#NoofPins').val() == '') {
            $("#NoofPins").addClass('errortext');
            $('#NoofPins').focus();
            return false;
        }

        return true;

    }

    function getname() {
        $.ajax({
            url: "/Admin/GetMemberName",
            Type: "Get",
            DataType: "JSON",
            data: { LoginId: $('#LoginId').val() },
            success: function (data) {
                if (data.Result == "Yes") {
                    //$('#Name').html(data.DisplayName);
                    document.getElementById('spName').innerHTML = data.DisplayName;
                }
                else {
                    alert('Invalid Login ID');
                    $('#LoginId').val('');
                    document.getElementById('spName').innerHTML = '';
                }
            }

        });

    }

    function FillAmount() {
        var Productid = "";

        Productid = $('#Package').val();
        if (Productid == "4") {
            $("#Amount").attr("disabled", false);
        }
        else {
            $("#Amount").attr("disabled", "disabled");
        }
        $.ajax({
            url: "/Admin/FillAmount",
            Type: "Get",
            DataType: "JSON",
            data: { Productid: Productid },
            success: function (data) {
                debugger;
                $('#Amount').val(data.Amount);

            }

        });
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
