@model TrustRadhe.Models.Home

<ul class="side-menu">
    <li class="slide">
        <a class="side-menu__item" data-bs-toggle="slide" href="/Admin/AdminDashBoard"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
    </li>
    @if (Model != null)
    {
        if (Model.lstMenu != null)
        {
            foreach (var item in Model.lstMenu)
            {
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="@item.Icon side-menu__icon"></i><span class="side-menu__label">@item.MenuName</span><i class="angle fa fa-angle-right"></i></a>
                    @if (item.Url == "#")
                    {
                    <ul class="slide-menu">
                        @foreach (var item1 in Model.lstsubmenu)
                        {
                            if (item1.MenuId == item.MenuId)
                            {
                                <li><a href="@item1.Url" class="slide-item">@item1.SubMenuName</a></li>
                            }
                        }
                    </ul>
                    }
                </li>
            }
        }
    }
</ul>
@*<div class="navbar-content">
        <!-- start: SIDEBAR -->
        <div class="main-navigation navbar-collapse collapse">


            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu">
                <li>
                    <!--active open-->
                    <a href="/Admin/AdminDashBoard">
                        <i class="clip-home-3"></i>
                        <span class="title"> Dashboard </span><span class="selected"></span>
                    </a>
                </li>
                @if (Model != null)
                {
                    if (Model.lstMenu != null)
                    {


                        foreach (var item in Model.lstMenu)
                        {
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="@item.Icon"></i>
                                    <span class="title"> @item.MenuName </span><i class="icon-arrow"></i>
                                    <span class="selected"></span>
                                </a>
                                @if (item.Url == "#")
                                {
                                    <ul class="sub-menu">
                                        @foreach (var item1 in Model.lstsubmenu)
                                        {
                                            if (item1.MenuId == item.MenuId)
                                            {
                                                <li>
                                                    <a href="@item1.Url">
                                                        <span class="title"> @item1.SubMenuName </span>

                                                    </a>
                                                </li>
                                            }
                                        }


                                    </ul>
                                }
                            </li>
                        }
                    }
                }


            </ul>
            <!-- end: MAIN NAVIGATION MENU -->
        </div>
        <!-- end: SIDEBAR -->
    </div>*@