@model TrustRadhe.Models.Reports

@{
    ViewBag.Title = "BookingRequestReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Reports
                </a>
            </li>
            <li class="active">
                Booking Request Report
            </li>

        </ol>


    </div>
</div>
<br />
@using (Html.BeginForm("BookingRequestReport", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Booking Request Report


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            @*<div class="row">
                                <div class="col-lg-3">
                                    Login Id
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-3">
                                    Name
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                              
                                <div class="col-lg-3">
                                    From Date
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-3">
                                    To Date
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-lg-3">
                                    <br />
                                    <input class="btn btn-success" type="submit" value="Search" name="Search" id="btnSearch" />
                                </div>
                            </div>*@

                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Name</th>
                                        <th>Father Name</th>
                                        <th>Gender</th>
                                        <th>Date of Birth</th>
                                        <th>Nominee</th>
                                        <th>Relationship</th>
                                        <th>Nationality</th>
                                        <th>MobileNo</th>
                                        <th>Address</th>
                                        <th>Pincode</th>
                                        <th>Category</th>
                                        <th>Cast</th>
                                        <th>Religion</th>
                                        <th>PlotNo</th>
                                        <th>Area</th>
                                        <th>BookingAmount</th>
                                       
                                        <th>Payment Mode</th>
                                        <th>Bank Name</th>
                                        <th>DD Cheque No</th>
                                        <th>DDChequeDate</th>
                                        <th>BankBranch</th>
                                        <th>Bank Photo</th>
                                        <th>Adhar Card No</th>
                                        <th>Adhar Front Image</th>
                                   <th>Adhar Back Image</th>
                                        <th>Pancard</th>
                                        <th>Pancard Image</th>
                                        <th>CustomerId</th>
                                        <th>Associate Name</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstRequestlist != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstRequestlist)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.Name</td>
                                                    <td>@Item.FatherName</td>
                                                    <td>@Item.Gender</td>
                                                    <td>@Item.DOB</td>
                                                    <td>@Item.Nominee</td>
                                                    <td>@Item.Relationship</td>
                                                    <td>@Item.Nationality</td>
                                                    <td>@Item.MobileNo</td>
                                                    <td>@Item.Address</td>
                                                    <td>@Item.PinCode</td>
                                                    <td>@Item.Category</td>
                                                    <td>@Item.Cast</td>
                                                    <td>@Item.Religion</td>
                                                    <td>@Item.PlotNo</td>
                                                    <td>@Item.Area</td>
                                                    <td>@Item.BookingAmount</td>
                                                    
                                                    <td>@Item.PaymentMode</td>
                                                    <td>@Item.BankName</td>
                                                    <td>@Item.DDChequeNo</td>
                                                    <td>@Item.DDChequeDate</td>
                                                    <td>@Item.BankBranch</td>
                                                    <td><img src="@Item.BankPhoto" style="height:100px;width:100px" /></td>
                                                    <td>@Item.AdharCardNo</td>
                                                    <td><img src="@Item.AdharCardPhoto" style="height:100px;width:100px" /></td>
                                                    <td><img src="@Item.AdharBackSide" style="height:100px;width:100px" /></td>
                                                    <td>@Item.Pancard</td>
                                                    <td ><img src="@Item.PanCardPhoto"  style="height:100px;width:100px"/></td> 

                                                    <td>@Item.CustomerId</td>
                                                    <td>@Item.AssociateName</td>
                                                </tr>
                                                i++;
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Printing Date</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="printingdate" readonly />
                    <input type="hidden" id="hdfloginnid" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closepopup();">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="printrecipt();">Print</button>
                </div>
            </div>

        </div>
    </div>
}
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>


<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
</script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    $('#printingdate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
    function changeprintdate(PrintingDate, LoginId) {
        $('#printingdate').val(PrintingDate);
        $('#hdfloginnid').val(LoginId);
        $('#myModal').show();
    }
    function closepopup() {
        $('#myModal').hide();
    }
    function printrecipt() {
        $(".errortext").removeClass("errortext");
        if ($('#printingdate').val() == '') {
            $("#printingdate").addClass('errortext');
            $('#printingdate').focus();
            return false;
        }
        var LoginId = $('#hdfloginnid').val();
        $.ajax({
            url: '/AdminReports/PrintReciept1',
            type: "GET",
            dataType: "JSON",
            data: { id: LoginId, PrintingDate: $('#printingdate').val() },
            success: function (data) {
                debugger;
                window.location.href = '@Url.Action("PrintReciept", "AdminReports")';
            }
        });
    }
</script>





