@model TrustRadhe.Models.Reports

@{
    ViewBag.Title = "DownLineList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Downline", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{
<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title"> Reports</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/AdminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Downline List</li>
                </ol>
            </div>
        </div>
        <!-- PAGE-HEADER END -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Downline List</h3>
                        <div class="card-options">
                            <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="#" class="card-options-fullscreen" data-bs-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                            <a href="#" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Login Id</label>
                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id", @required = "required" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">From Date</label>
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From Date" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">To Date</label>
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "To Date" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Leg</label>
                                @Html.DropDownListFor(m => m.Leg, new SelectList(ViewBag.ddlleg, "Value", "Text"), new { @class = "select2 form-select form-control" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Status</label>
                               @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.ddlStatus, "Value", "Text"), new { @class = "select2 form-select form-control" })
                            </div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-primary" value="Get Details" name="GetDetails" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered text-nowrap border-bottom w-100" id="responsive-datatable">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>

                                    <th>Login Id</th>
                                    @*<th>Password</th>*@
                                    <th>Name</th>
                                    <th>Leg</th>
                                    <th>Joining Date</th>
                                    <th>Package</th>
                                    <th hidden="hidden">Activation Date</th>
                                    <th hidden="hidden">Mobile No</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstassociate != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstassociate)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>

                                                <td>@Item.LoginId</td>
                                                @*<td>@Item.Password</td>*@
                                                <td>@Item.Name</td>
                                                <td>@Item.Leg</td>
                                                <td>@Item.JoiningDate</td>
                                                <td>@Item.Package</td>
                                                <td hidden="hidden">@Item.PermanentDate</td>
                                                <td hidden="hidden">@Item.Mobile</td>

                                                <td>@Item.Status</td>

                                            </tr>
                                            i++;
                                        }

                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Team
                </a>
            </li>
            <li class="active">
                Downline List
            </li>
        </ol>
    </div>
</div>
<br />*@


    @*<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Downline List


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <div class="row">
                                <div class="col-md-3">
                                    LoginId
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id", @required="required" })
                                </div>
                                <div class="col-md-3">
                                    Name
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Login Id" })
                                </div>
                                <div class="col-md-3">
                                    From Date
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From Date" })
                                </div>
                                <div class="col-md-3">
                                    To Date
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "To Date" })
                                </div>
                                <div class="col-md-3">
                                    Leg
                                    @Html.DropDownListFor(m => m.Leg, new SelectList(ViewBag.ddlleg, "Value", "Text"), new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    Status
                                    @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.ddlStatus, "Value", "Text"), new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <br />
                                    <input type="submit" class="btn btn-info" value="Get Details" name="GetDetails" />
                                </div>
                            </div>

                           
                            <br />
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>

                                        <th>Login Id</th>
                                        @*<th>Password</th>*
                                        <th>Name</th>
                                        <th>Leg</th>
                                        <th>Joining Date</th>
                                        <th>Package</th>
                                        <th hidden="hidden">Activation Date</th>
                                        <th hidden="hidden">Mobile No</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstassociate != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstassociate)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>

                                                    <td>@Item.LoginId</td>
                                                    @*<td>@Item.Password</td>*
                                                    <td>@Item.Name</td>
                                                    <td>@Item.Leg</td>
                                                    <td>@Item.JoiningDate</td>
                                                    <td>@Item.Package</td>
                                                    <td hidden="hidden">@Item.PermanentDate</td>
                                                    <td hidden="hidden">@Item.Mobile</td>

                                                    <td>@Item.Status</td>

                                                </tr>
                                                i++;
                                            }

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>*@

}

<script src="../vendor/jquery/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
</script>
