@model TrustRadhe.Models.Franchise

@{
    ViewBag.Title = "RequestStatusReport";
    Layout = "~/Views/Shared/_FranchisePanelLayout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Request
                </a>
            </li>
            <li class="active">
             Request List
            </li>
        </ol>
    </div>
</div>
<br />
@using (Html.BeginForm("RequestStatusReport", "Franchise", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Request List
                </div>
                <div class="panel-body">
                    <div class="row">
                      
                    </div>
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Request Code</th>
                                     
                                        <th>Product Name</th>
                                       
                                        <th>Amount</th>
                                        <th>Payment Mode</th>
                                        <th>Requested Qty</th>
                                        <th>Approved Qty</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstRequest != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstRequest)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.RequestCode</td>
                                                   
                                                    <td>@Item.ProductName</td>
                                                  
                                                    <td>@Item.TotalAmount</td>
                                                    <td>@Item.PaymentMode</td>
                                                    <td>@Item.Quantity</td>
                                                    <td>@Item.ApprovedQuantity</td>
                                                    <td>@Item.Status</td>
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

