@model TrustRadhe.Models.Franchise

@{
    ViewBag.Title = "StockList";
    Layout = "~/Views/Shared/_FranchisePanelLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Reports
                </a>
            </li>
            <li class="active">
                Stock List
            </li>
        </ol>
    </div>
</div>

<br />
@using (Html.BeginForm("StockList", "Franchise", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Stock List
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                Product Name
                                @Html.DropDownListFor(m => m.ProductID, new SelectList(ViewBag.ddlProduct, "Value", "Text"), new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <br/>
                                <input type="submit" name="Search" id="Search" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                     
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Product Name</th>
                                        <th>Credit</th>
                                        <th>Debit</th>                  
                                        <th>Balance</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstStock != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstStock)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.ProductName</td>
                                                    <td>@Item.Credit</td>
                                                    <td>@Item.Debit</td>                    
                                                    <td>@Item.Balance</td>
                                                    <td><a href="/Franchise/StockReportProductWise?ProductID=@Item.ProductID&FranchiseID=@Item.PK_FranchiseID" class="btn btn-sm btn-primary">View </a></td>
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

