@model TrustRadhe.Models.PurchaseOrder

@{
    ViewBag.Title = "SupplierBalancePayment";
    Layout = "~/Views/Shared/FranchiseMasterLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Supplier 
                </a>
            </li>
            <li class="active">
                Supplier Balance Payment
            </li>
        </ol>
    </div>
</div>

<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Supplier Balance Payment

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("SupplierBalancePayment", "FranchiseAdmin", FormMethod.Post, new { @id = "signupForm" }))
                {
                    <p style="color: green">
                        @TempData["BalPayment"]
                    </p>
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Payment Date<span style="color:red">*</span></label>
                                            @Html.TextBoxFor(m => m.PurchaseDate, new { @class = "form-control form-control-lg mydatepicker", @readonly = "readonly" })
                                            <span style="color:rebeccapurple;">@ViewBag.CGST</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Supplier Name<span style="color:red">*</span></label>

                                            @Html.DropDownListFor(m => m.SupplierID, new SelectList(ViewBag.ddlSupplier, "Value", "Text"), new { @class = "form-control", @onchange = "return GetSupplierDetails();" })
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Mobile No</label>
                                            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">TIN</label>
                                            @Html.TextBoxFor(m => m.TIN, new { @class = "form-control", @readonly = "readonly" })

                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Balance</label>
                                            @Html.TextBoxFor(m => m.Balance, new { @class = "form-control", @readonly = "readonly" })

                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">PaidAmount</label>
                                            @Html.TextBoxFor(m => m.PaidAmount, new { @class = "form-control" ,@onchange="return CheckAmount();" ,@onkeypress= "return isNumberKey(event)" })
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Description</label>
                                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-3">
                                            Payment Mode <span style="color: red">*</span>
                                            @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "form-control", @onchange = "getpaymentdetails();" })
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6" id="bankname" style="display: none">
                                            Bank Name <span style="color: red">*</span>
                                            @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @placeholder = "Bank Name" })
                                        </div>
                                        <div class="col-md-6" id="chequeno" style="display: none">
                                            Transaction No <span style="color: red">*</span>
                                            @Html.TextBoxFor(m => m.DDChequeNo, new { @class = "form-control", @placeholder = "Transaction No" })
                                        </div>
                                        <div class="col-md-6" id="chequdate" style="display: none">
                                            Transaction Date <span style="color: red">*</span>
                                            @Html.TextBoxFor(m => m.DDChequeDate, new { @class = "form-control", @placeholder = "Transaction Date" })
                                        </div>
                                        <div class="col-md-6" id="bankbranch" style="display: none">
                                            Branch <span style="color: red">*</span>
                                            @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @placeholder = "Bank Branch" })
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <div class="row" style="margin-top:20px;">
                                        <input type="submit" id="btnSave" name="Save" value="Save" class="btn btn-success" onclick="return validateform();"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                }
            </div>

        </div>
    </div>
</div>
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    $('#PurchaseDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });
    $('#DDChequeDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });
    function getpaymentdetails() {
        debugger;
        var paymentmode = ($("#PaymentMode option:selected").text());
        if (paymentmode != "Cash") {
            bankname.style.display = "block";
            chequeno.style.display = "block";
            chequdate.style.display = "block";
            bankbranch.style.display = "block";
        }
        else {
            bankname.style.display = "none";
            chequeno.style.display = "none";
            chequdate.style.display = "none";
            bankbranch.style.display = "none";
        }
    }
    function GetSupplierDetails() {

        var value = $('#SupplierID').val();

        $.ajax({
            url: '/FranchiseAdmin/GetSupplierDetails', type: 'post', dataType: 'json',
            data: { 'SupplierID': value }, success: function (data) {

                if (data.Response == "1") {
                    $('#Contact').val(data.Contact);
                    $('#TIN').val(data.TIN);
                    $('#Balance').val(data.Balance);


                }
                else {
                    alert("Invalid Supplier");


                }
            }

        });

    }

    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#PurchaseDate').val() == '') {
            $("#PurchaseDate").addClass('errortext');
            $('#PurchaseDate').focus();
            return false;
        }
         
        if ($('#SupplierID').val() == '0') {
            $("#SupplierID").addClass('errortext');
            $('#SupplierID').focus();
            return false;
        }

        if ($('#PaidAmount').val() == '') {
            $("#PaidAmount").addClass('errortext');
            $('#PaidAmount').focus();
            return false;
        }
        if ($('#Description').val() == '') {
            $("#Description").addClass('errortext');
            $('#Description').focus();
            return false;
        }
        if ($('#PaymentMode').val() == '') {
            $("#PaymentMode").addClass('errortext');
            $('#PaymentMode').focus();
            return false;
        }
        if ($('#PaymentMode').val() != 'Cash') {
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                return false;
            }
            if ($('#DDChequeNo').val() == '') {
                $("#DDChequeNo").addClass('errortext');
                $('#DDChequeNo').focus();
                return false;
            }
            if ($('#DDChequeDate').val() == '') {
                $("#DDChequeDate").addClass('errortext');
                $('#DDChequeDate').focus();
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                return false;
            }
        }
        return true;
    }

    function CheckAmount()
    {
        var bal = $("#Balance").val();
        var paid = $("#PaidAmount").val();

        if ((Number)(paid) > (Number)(bal))
        {
            alert("Cannot pay more than the balance");
            $("#PaidAmount").val("");
        }
        else if ((Number)(paid) == "0" || (Number)(paid) < (Number)(bal))
            {
            alert("Paid Amount Cannot be zero or less ");
            $("#PaidAmount").val("");
        }
        else
        {

        }
    }

</script>