@model TrustRadhe.Models.Franchise

@{
    ViewBag.Title = "KitRequest";
    Layout = "~/Views/Shared/_FranchisePanelLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Kit
                </a>
            </li>
            <li class="active">
                Kit Request
            </li>
        </ol>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Kit Request
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("KitRequest", "Franchise", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        @if (TempData["Request"] != null)
                        {
                            <div class="col-md-12">
                                <div class="@TempData["Class"]">
                                    @TempData["Request"]
                                </div>
                            </div>
                        }
                        <div class="col-md-12 table-responsive">
                            <div class="row">
                                <div class="col-md-12 table-responsive" id="Supplierhide">
                                    <div class="row">
                                        @*<div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Request From<span style="color:red">*</span></label>
                                            @Html.DropDownListFor(m => m.SupplierID, new SelectList(ViewBag.ddlUpperFranchise, "Value", "Text"), new { @class = "form-control" })
                                        </div>*@
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Select Kit<span style="color:red">*</span></label>
                                            @Html.DropDownListFor(m => m.KitID, new SelectList(ViewBag.ddlKit, "Value", "Text"), new { @class = "form-control", @onchange = "return getKitAmount();" })
                                        </div>

                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Kit Amount</label>
                                            @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Request Quantity<span style="color:red">*</span></label>
                                            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @Onchange = "return AddQuantity();", @onkeypress = "return isNumberKey(event)" })
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label">Final Amount<span style="color:red">*</span></label>
                                            @Html.TextBoxFor(m => m.FinalAmount, new { @class = "form-control", @placeholder = "Final Amount", @readonly = "readonly" })
                                        </div>
                                        <div class="col-lg-3">
                                            <br />
                                            <input type="button" name="btnAdd" id="btnAdd" class="btn btn-success pull-left" value="Add Item" onclick="return AddItemProduct();" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row" id="tablehideshow">
                                <div class="col-md-12 table-responsive">
                                    <div class="row" style="margin-top:20px;">
                                        <table width="100%" border="1" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Sr No.</th>
                                                    <th>Product</th>
                                                    <th>MRP</th>
                                                    <th>Purchase Quantity</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblProductRequest"></tbody>
                                        </table>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 table-responsive" id="Supplierhide">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="inputEmail4" class="col-form-label">Final Amount</label>
                                                        @Html.TextBoxFor(m => m.TaxableAmount, new { @class = "form-control", @Placeholder = "Final Amount", @readonly = "readonly" })
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="inputEmail4" class="col-form-label">Paid</label>
                                                        @Html.TextBoxFor(m => m.PaidAmount, new { @class = "form-control", @Placeholder = "Paid", @onchange = "Getbalance();", @readonly = "readonly", @onkeypress = "return isNumberKey(event)" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="inputEmail4" class="col-form-label">Payment Mode</label>
                                                        @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "form-control", @onchange = "return getpaymentdetails();" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <br />
                                                    <div class="form-group">
                                                        <input type="file" name="fileProfilePicture" id="Image" />
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3" id="bankname" style="display: none">
                                                    Bank Name <span style="color: red">*</span>
                                                    @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @placeholder = "Bank Name" })
                                                </div>
                                                <div class="col-md-3" id="chequeno" style="display: none">
                                                    Transaction No <span style="color: red">*</span>
                                                    @Html.TextBoxFor(m => m.TransactionNo, new { @class = "form-control", @placeholder = "Transaction No" })
                                                </div>
                                                <div class="col-md-3" id="chequdate" style="display: none">
                                                    Transaction Date <span style="color: red">*</span>
                                                    @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @placeholder = "Transaction Date" })
                                                </div>
                                                <div class="col-md-3" id="bankbranch" style="display: none">
                                                    Branch <span style="color: red">*</span>
                                                    @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @placeholder = "Bank Branch" })
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" id="btnRequest" name="btnRequest" value="Submit Request" onclick="return checkFormData();" class="btn btn-success pull-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

<script>
    window.onload = function () {
        //document.getElementById('Supplierhide').style.display = 'none';
        document.getElementById('tablehideshow').style.display = 'none';
        $('#PaymentMode').val("Cash");

    };
    $('#TransactionDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });

    function getKitAmount() {

        $.ajax({
            url: '/Franchise/GetKitAmountForKitRequest', type: 'post', dataType: 'json',
            data: { 'kitid': $('#KitID').val() },
            success: function (data) {
                $('#Quantity').val('');
                $('#FinalAmount').val('');
                if (data.Result == "1") {
                    $('#TotalAmount').val(data.TotalAmount);
                }
                else {
                    alert("Invalid Selection");
                    $('#TotalAmount').val('');
                }
            }
        });
    }

    function getpaymentdetails() {
        var paymentmode = ($("#PaymentMode option:selected").text());
        if (paymentmode != "Cash") {
            bankname.style.display = "block";
            chequeno.style.display = "block";
            chequdate.style.display = "block";
            bankbranch.style.display = "block";
        }
        else {
            bankname.style.display = "none";
            chequeno.style.display = "none";
            chequdate.style.display = "none";
            bankbranch.style.display = "none";
        }
    }

    function getProductDetails() {


        var value3 = $('#KitID').val();

        $.ajax({
            url: '/Franchise/GetKitDetails', type: 'post', dataType: 'json',
            data: { 'KitID': value3 }, success: function (data) {
                $('#Quantity').val('');
                $('#TotalAmount').val('');
                if (data.Response == "Yes") {
                    $('#TotalAmount').val(data.TotalAmount);
                    $('#FinalAmount').val(data.TotalAmount);
                }
                else {
                    alert("Invalid");

                }
            }
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function checkFormData() {
        $(".errortext").removeClass("errortext");
        if ($('#SupplierID').val() == '0') {
            $("#SupplierID").addClass('errortext');
            $('#SupplierID').focus();
            return false;
        }
        if ($('#PaymentMode').val() != 'Cash') {
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                return false;
            }
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                return false;
            }
        }
        else {
            $('#TransactionNo').val('');
            $('#BankName').val('');
            $('#TransactionDate').val('');
            $('#BankBranch').val('');
        }
        return true;
    }

    function AddQuantity() {

        var amount = $('#TotalAmount').val();
        var qty = $('#Quantity').val();
        var totalAmount = 0;
        totalAmount = Number(amount) * Number(qty);
        $('#FinalAmount').val(totalAmount);


    }

    function Getbalance() {
        var Paid = $('#PaidAmount').val();

        var FinalAmount = $('#TotalFinalAmount').val();
        if ((Number)(Paid) > (Number)(FinalAmount)) {
            alert('Paid Value Should be less than or equal to final amount');
            $('#PaidAmount').val("");
            $('#Balance').val("");
        }
        else {
            var balance = (Number)(FinalAmount) - (Number)(Paid)

            $('#Balance').val(balance);
        }
    }

    function AddItemProduct() {
        $(".errortext").removeClass("errortext");

        if ($('#SupplierID').val() == '0') {
            $("#SupplierID").addClass('errortext');
            $('#SupplierID').focus();
            return false;
        }
        if ($('#KitID').val() == '0') {
            $("#KitID").addClass('errortext');
            $('#KitID').focus();
            return false;
        }
        if ($('#Quantity').val() == '') {
            $("#Quantity").addClass('errortext');
            $('#Quantity').focus();
            return false;
        }
        if ($('#FinalAmount').val() == '') {
            $("#FinalAmount").addClass('errortext');
            $('#FinalAmount').focus();
            return false;
        }
        var productid = $('#KitID').val();
        var Product = $('#KitID').find(":selected").text();
        var MRP = $('#TotalAmount').val();
        var IGST = '0';
        var CGST = '0';
        var SGST = '0';
        var Quantity = $('#Quantity').val();
        var TaxableAmount = '0';
        var FinalAmount = $('#FinalAmount').val();

        var tr = [] ;
        var j = 1;
        $.ajax({
            url: '/Franchise/BindKitRequestList', type: 'post', dataType: 'json',
            data: {
                'ProductID': productid, 'Product': Product, 'MRP': MRP, 'IGST': IGST,
                'CGST': CGST, 'SGST': SGST, 'Quantity': Quantity, 'TaxableAmount': TaxableAmount, 'FinalAmount': FinalAmount
            },
            success: function (data) {
                $('#tablehideshow').show();
                $('#tblProductRequest').empty();
                var totaligst = 0;
                var totalcgst = 0;
                var totalsgst = 0;
                var totalfinalamount = 0;
                var totalsum = 0;
                var paidamount = 0;
                var paidbalance = 0;
                var balance = 0;
                var totalperc = 0;
                for (var i = 0; i < data.lstFranchise.length; i++) {
                    tr.push('<tr>');
                    tr.push("<td>" + j + "</td>");
                    tr.push("<td><label  >" + data.lstFranchise[i].ProductName + " </label></td>");
                    tr.push("<td><label> " + data.lstFranchise[i].MRP + "</label></td>");
                    tr.push("<td><label > " + data.lstFranchise[i].Quantity + " </label></td>");
                    tr.push("<td><label> " + data.lstFranchise[i].TotalAmount + "</label></td>");


                    tr.push("<td style='display:none'><input type='hidden' value='" + data.lstFranchise[i].ProductID + "' id='txtproductID_ " + i + "' name='txtproductID_ " + i + "'></td>");
                    tr.push("<td style='display:none'><input type='hidden' value='" + data.lstFranchise[i].Product + "' id='txtproduct_ " + i + "' name='txtproduct_ " + i + "'></td>");
                    tr.push("<td style='display:none'><input type='hidden' value='" + data.lstFranchise[i].MRP + "' id='txtMrp_ " + i + "' name='txtMrp_ " + i + "'></td>");
                    tr.push("<td style='display:none'><input type='hidden' value='" + data.lstFranchise[i].IGST + "' id='txtIGST_ " + i + "' name='txtIGST_ " + i + "'></td>");
                    tr.push("<td style='display:none'><input type='hidden' value='" + data.lstFranchise[i].CGST + "' id='txtCGST_ " + i + "' name='txtCGST_ " + i + "'></td>");
                    tr.push("<td style='display:none'><input type='hidden' value='" + data.lstFranchise[i].SGST + "' id='txtSGST_ " + i + "' name='txtSGST_ " + i + "'></td>");
                    tr.push("<td style='display:none'><input type='hidden' value='" + data.lstFranchise[i].Quantity + "' id='txtPurchaseQty_ " + i + "' name='txtPurchaseQty_ " + i + "'></td>");
                    //tr.push("<td style='display:none'><input type='hidden' value='" + data.lstFranchise[i].TaxableAmount + "' id='txtTaxableAmount_ " + i + "' name='txtTaxableAmount_ " + i + "'></td>");
                    tr.push("<td style='display:none'><input type='hidden' value='" + data.lstFranchise[i].FinalAmount + "' id='txtFinalAmount_ " + i + "' name='txtFinalAmount_ " + i + "'></td>");

                    tr.push('</tr>');
                    debugger;


                    totalfinalamount = (Number)(data.lstFranchise[i].TotalAmount) + (Number)(totalfinalamount);
                    //totalsum = (Number)(totalamount) + ((Number)(totalamount) * (Number)(totalperc) / 100);
                    //paidamount = (Number)($('#Paid').val());

                    $('#TaxableAmount').val(totalfinalamount);
                    $('#PaidAmount').val(totalfinalamount);

                    j++;

                }
                tr.push('<tr style="display:none">');
                tr.push("<td><input type='hidden' value='" + j + "' id='hdrows' name='hdrows'></td>");
                tr.push('</tr>');
                $('#tblProductRequest').append($(tr.join('')));

            }

        });

    }

    function checkpaid() {
        $(".errortext").removeClass("errortext");
        if ($('#Paid').val() == '') {
            $("#Paid").addClass('errortext');
            $('#Paid').focus();
            return false;
        }
    }

</script>


