@model TrustRadhe.Models.Wallet

@{
    ViewBag.Title = "PaidBooster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Booster
                </a>
            </li>
            <li class="active">
                Paid Booster Details
            </li>
        </ol>
    </div>
</div>

<br />
@using (Html.BeginForm("PaidBooster", "AdminProfile", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <p style="color:red">
        @TempData["BlockUnblock"]
        @TempData["UpdateProfilebyadmin"]
    </p>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Booster Achiever List
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-12 table-responsive">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Login ID </label>
                                        @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Maturity From Date</label>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Maturity To Date</label>
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Payment From Date</label>
                                        @Html.TextBoxFor(m => m.PaymentFromDate, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Payment To Date</label>
                                        @Html.TextBoxFor(m => m.PaymentToDate, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <br />
                                        <input type="submit" id="btnSearch" class="btn btn-success pull-left" name="GetDetails" value="Search" />
                                    </div>
                                </div>
                            </div>
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>LoginId</th>
                                        <th>Name</th>
                                        <th>Payment Date</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Transaction Date</th>
                                        <th>TransactionNo</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th><b>Total</b></th>
                                        <th>@ViewBag.Total</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstpayoutledger != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstpayoutledger)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.LoginId</td>
                                                    <td>@Item.DisplayName</td>

                                                    <td>@Item.PaymentDate</td>
                                                    <td>@Item.Description</td>

                                                    <td>@Item.Amount</td>
                                                    <td>@Item.TransactionDate</td>
                                                    <td>@Item.TransactionNo</td>



                                                </tr>
                                                i++;
                                            }

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->


}

<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
</script>

