@model TrustRadhe.Models.Wallet
@{
    ViewBag.Title = "EWalletRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveEwalletRequest", "Wallet", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    
<div class="row">
    <div class="col-lg-12">
        <br />
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ewallet Request
                <br />
                <p style="color:red">@TempData["Ewallet"] </p>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="col-md-6">
                    Login Id <span style="color: red">*</span> <span id="txtname" style="color:blue" class="pull-right"></span>
                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @onchange = "getmembername(this);",@Readonly="true" })
                    @Html.ValidationMessageFor(m => m.LoginId)
                </div>
                <div class="col-md-6">
                    Amount <span style="color: red">*</span>
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount",@onkeypress="return isNumberKey(event);" })
                    @Html.ValidationMessageFor(m => m.Amount)
                </div>
                <div class="col-md-6">
                    Payment Mode <span style="color: red">*</span>
                    @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "form-control", @data_size = "7", @data_style = "select-with-transition", @onchange = "getpaymentdetails();" })
                    @Html.ValidationMessageFor(m => m.PaymentMode)
                </div>
                <div class="col-md-6">
                    Upload Document <span style="color: red">*</span>
                    <img id="output_image3" style="width:50px;height:50px"/>
                  <input type="file" required="required" value="Upload" name="fileProfilePicture" id="fileupload" class="inputfile inputfile-2"  accept="image/*"
                       onchange="preview_image(event,'Q')"  /> 

                </div>


                 <div class="col-md-6" id="bankname" style="display: none">
                    Bank Name <span style="color: red">*</span>
                    @Html.TextBoxFor(m => m.BankName, new { @class = "form-control",@placeholder="Bank Name" })
                </div>
                 <div class="col-md-6" id="chequeno" style="display: none">
                    Transaction No <span style="color: red">*</span>
                    @Html.TextBoxFor(m => m.DDChequeNo, new { @class = "form-control",@placeholder="Transaction No" })
                </div>
                 <div class="col-md-6" id="chequdate" style="display: none">
                    Transaction Date <span style="color: red">*</span>
                    @Html.TextBoxFor(m => m.DDChequeDate, new { @class = "form-control",@placeholder="Transaction Date" })
                </div>
                 <div class="col-md-6" id="bankbranch" style="display: none">
                    Branch <span style="color: red">*</span>
                   @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control",@placeholder="Bank Branch" })
                     <br />
                </div>
                
                 <div class="col-md-6">
                   <input class="btn btn-success" onclick="return validateform()" type="submit" value="EWallet Request" />

                </div>
            </div>
        </div>
    </div>
</div>
}
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
  
    $('#DDChequeDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function getpaymentdetails() {
        debugger;
        var paymentmode = ($("#PaymentMode option:selected").text());
        if (paymentmode != "Cash") {
            bankname.style.display = "block";
            chequeno.style.display = "block";
            chequdate.style.display = "block";
            bankbranch.style.display = "block";
        }
        else {
            bankname.style.display = "none";
            chequeno.style.display = "none";
            chequdate.style.display = "none";
            bankbranch.style.display = "none";
        }
    }
    function preview_image(event, mode) {
        debugger;


        if (mode == 'Q') {
            var reader = new FileReader();
            reader.onload = function () {
                debugger;
                var output = document.getElementById('output_image3');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }


    }
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if (($("#PaymentMode option:selected").text()) != 'Cash') {
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                return false;
            }
            if ($('#DDChequeNo').val() == '') {
                $("#DDChequeNo").addClass('errortext');
                $('#DDChequeNo').focus();
                return false;
            }
            if ($('#DDChequeDate').val() == '') {
                $("#DDChequeDate").addClass('errortext');
                $('#DDChequeDate').focus();
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                return false;
            }
        }
        return true;

    }
    function getmembername() {
        debugger;
        var LoginId = $('#LoginId').val();
        $.ajax({
            url: '/Wallet/GetMemberName',
            type: "GET",
            dataType: "JSON",
            data: { LoginId: LoginId },
            success: function (data) {
                debugger;
                if (data.Result == "Yes") {
                    $('#txtname').html(data.DisplayName);
                  
                    divname.style.display = "block";
                } else {
                    alert("Invalid Sponser Id");
                    $('#txtname').html("");
                    $('#LoginId').val("");
                   
                }
            }
        });
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>