@model TrustRadhe.Models.Franchise

@{
    ViewBag.Title = "ChangeFranchisePassword";
    Layout = "~/Views/Shared/FranchiseMasterLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <br />
        @*<h4 class="page-header">Change Associate Password</h4>*@
    </div>
    <!-- /.col-lg-12 -->
</div>

@using (Html.BeginForm("ChangeFPassword", "FranchiseAdmin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Change Franchise Password
                    <br />
                    <p style="color: red">@TempData["ChangeFpassword"] </p>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <div class="row">
                       
                        <div class="col-md-4">
                            <div class="form-group">
                                Login Id <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", @Placeholder = "Login Id", @onchange = "getmembername(this);" })
                                @Html.ValidationMessageFor(m => m.LoginID)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                Name <span style="color: red">*</span>
                                <span id="txtname" style="color: blue" class="form-control pull-right"></span>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                New Password <span style="color: red">*</span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "New Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="btn btn-success pull-left" onclick="return validateform()" type="submit" value="Change Password" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<script>
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#LoginID').val() == '') {
            $("#LoginID").addClass('errortext');
            $('#LoginID').focus();
            return false;
        }
        if ($('#Password').val() == '') {
            $("#Password").addClass('errortext');
            $('#Password').focus();
            return false;
        }
        return true;
    }
    function getmembername() {
        debugger;
        var LoginID = $('#LoginID').val();
        $.ajax({
            url: '/FranchiseAdmin/GetFranchiseName',
            type: "GET",
            dataType: "JSON",
            data: { LoginID: LoginID },
            success: function (data) {
                debugger;
                if (data.Result == "yes") {
                    $('#txtname').html(data.FranchiseName);

                    //divname.style.display = "block";
                } else  {
                    alert("Invalid Id");
                    $('#txtname').html("");
                    $('#LoginID').val("");

                }
            }
        });
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>



