@model TrustRadhe.Models.SaleOrder

@{
    ViewBag.Title = "SaleOrderViewFranchise";
    Layout = "~/Views/Shared/FranchiseMasterLayout.cshtml";
}

 <div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Reports
                </a>
            </li>
            <li class="active">
                View Sale Order
            </li>
        </ol>
    </div>
</div>
<br />
@using (Html.BeginForm("SaleOrderViewFranchise", "FranchiseAdmin", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sale Order
                    <a href="/FranchiseAdmin/SaleOrderListFranchise" class="btn btn-sm btn-primary link pull-right" style="margin-top: -8px;">Back To List</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 table-responsive">

                            <div class="row">
                                <div class="col-md-12 table-responsive" id="Supplierhide">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label"><b> Name :</b> </label>
                                            <label> @ViewBag.Name    </label>
                                        </div>

                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label"><b>Order Number :</b></label>

                                            <label> @ViewBag.OrderNo    </label>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputEmail4" class="col-form-label"><b>Order Date:</b></label>
                                            <label> @ViewBag.PurchaseDate    </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th><b>Sr No.</b></th>
                                        <th><b> Quantity</b></th>
                                        <th><b>MRP</b></th>
                                        <th><b>IGST</b></th>
                                        <th><b>CGST</b></th>
                                        <th><b>SGST</b></th>
                                        <th>Final Amount</th>
                                        <th><b>Taxable Amount</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstFranchise != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstFranchise)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.Quantity</td>
                                                    <td>@Item.MRP</td>
                                                    <td>@Item.IGST</td>
                                                    <td>@Item.CGST</td>
                                                    <td>@Item.SGST</td>
                                                    <td>@Item.FinalAmount</td>
                                                    <td>@Item.TaxableAmount</td>

                                                </tr>

                                                i++;
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



