@model TrustRadhe.Models.DashBoard

@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/AcceptanceCSS/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/AcceptanceCSS/css/style.css">
    <title>Acceptance Form</title>
</head>

<body>
    <button  id="download" onclick="downloadPDF()">Download Pdf</button>

    <div class="main-file">
        <div class="container"  id="printableArea">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="logod">
                     <img src="../assets/AcceptanceCSS/images/logo.png" class="img-fluid" alt="logo" />
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="logo-detail">
                        <h4>ACCEPTANCE FORM</h4>
                        <p>ACCEPTANCE of ONLINE AGREEMENT / CONTRACT with Maker Property Pvt. Ltd</p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-12">
                    <div class="logo-detail">
                        <h4>Maker Property PVT. LTD.</h4>
                        <p>
                            Khasra no 937, patwari ka purwa,devkali bypass Lucknow Road,Ayodhya
                            224001 (Uttar Pradesh)
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <form>
                        <div class="form-row">
                            <div class="col-md-2">
                                User ID:
                            </div>
                            <div class="col-md-4" style="border:1px;border-bottom:solid">
                                @ViewBag.LoginId
                            </div>

                            <div class="col-md-2">
                                Name:
                            </div>
                            <div class="col-md-4" style="border:1px;border-bottom:solid">
                                @ViewBag.DisplayName
                            </div>
                        </div><br />
                        <div class="form-row">
                            <div class="col-md-2">
                                Permanent Address:
                            </div>
                            <div class="col-md-4" style="border:1px;border-bottom:solid">
                                @ViewBag.Address
                            </div>

                            <div class="col-md-2">
                                Contact No.:
                            </div>
                            <div class="col-md-4" style="border:1px;border-bottom:solid">
                                @ViewBag.Mobile
                            </div>
                        </div><br />
                        <div class="form-row">
                            <div class="col-md-2">
                               Registration Date:
                            </div>
                            <div class="col-md-4" style="border:1px;border-bottom:solid">
                                @ViewBag.JoiningDate
                            </div>
                            <div class="col-md-2">
                                Introducing Maker Property Representative
                                (Sponsor):
                            </div>
                            <div class="col-md-4" style="border:1px;border-bottom:solid">
                                @ViewBag.SponsorId
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="declaration">
                        <h2 class="text-center">DECLARATION</h2>
                        <p><strong>I solemnly declare and affirm as under –</strong></p>
                        <p>1. I declare that I am of the age of 18 years or more and competent to contract</p>
                        <p>
                            2. That I have read and understood the terms and conditions for appointment of Maker Property
                            Retailer / Representative (Direct Seller) of the Company, and accept to them.
                        </p>
                        <p>
                            3. I have also gone through the Company's official website including FAQs, Printed materials
                            and Brochures. I agree to the contents of the materials and convinced about the business and
                            I have applied to appoint me as a Direct Seller on my own volition.
                        </p>
                        <p>
                            4. I declare that I have not been given any assurance or promise or inducement by the Company
                            or its Directors in regard to any fixed income incentive, prize or benefit on account of the
                            products purchased by me.
                        </p>
                        <p>
                            5. I have clearly understood that eligibility of income exclusively depends on my performance
                            as per the Business Plan of the company. I further agree that company reserves the right to
                            change the Business Plan at any point of time without any prior notice.
                        </p>
                        <p>6. I undertake not to misguide or induce dishonestly anybody to join the Company.</p>
                        <p>
                            7. I hereby agree to submit all disputes to Dispute Redressal cell / Arbitration as provided
                            in the terms and conditions of the Company.
                        </p>
                        <p>
                            8. I hereby declare that I am signing this “DECLARATION” with complete understanding and with
                            my FREE WILL, without any PRESSURE / UNDUE INFLUENCE or INDUCEMENT.
                        </p>
                        <p>
                            9. I hereby agree and adhere to the terms and conditions as given on the website of the
                            company (www.afluex.com) and as mentioned above to purchase the product and to do the
                            Direct Seller activities.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="tablesd">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td> <br></td>
                                    <td> <br></td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        Signatures of Joining Direct Seller<br>(Maker Property
                                        Retailer)
                                    </td>
                                    <td class="text-center">
                                        Signatures of Sponsoring Maker Property Representative<br>
                                        (WITNESS)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="following-documents">
                        <h4>Please send this form along with following documents to the company’s office</h4>
                        <p>
                            1. A photocopy of any one of the self-attested Govt. issued photo Identification documents.
                        </p>
                        <p>2. A photocopy of any one of the self-attested Govt. issued documents for address proof.</p>
                        <p>3. Self-attested Photocopy of PAN card.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="note">
                        <p>
                            <strong>NOTE :</strong> It is the sole responsibility of the joining Maker Property Retailer to submit authentic
                            documents and information, any discrepancy or any civil/criminal liability arising due to
                            this regard would be the full and complete responsibility of the said joining Maker Property
                            Retailer. The company shall not be responsible in this regard in any way
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="../assets/AcceptanceCSS/js/bootstrap.min.js"></script>*@
</body>


</html> 

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>*@
<script>
    //function downloadPDF()
    //{
    //    var doc = new jsPDF();
    //    doc.setFontSize(20);
    //    doc.addHTML(document.body, function () {
    //        doc.save('Acceptance Form.pdf');
    //    });
    //}
 function downloadPDF() {

     var divToPrint = document.getElementById('printableArea');

            var newWin = window.open('', 'Print-Window');

            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () { newWin.close(); }, 10);
        }
</script>

