@model TrustRadhe.Models.Reports

@{
    ViewBag.Title = "UserReward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UserReward", "User", FormMethod.Post, new { @id = "form1" }))
{  
            <div class="section-header">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="section-header-breadcrumb-content">
                            <h1>Level Achiever</h1>
                        </div>
                    </div>

                </div>
            </div>
          
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="color:red">@TempData["Rewardmsg"]</p>
                                    <div class="card">

                                        <div class="card-block">

                                            <div class="dt-responsive table-responsive">
                                                <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>S No.</th>
                                                            <th>Level Badge</th>
                                                            <th>Target</th>
                                                            <th>Status</th>
                                                            <th hidden="hidden">Qualify Date</th>
                                                            <th hidden="hidden">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            if (Model.lsttopupreport != null)
                                                            {
                                                                int i = 1;
                                                                foreach (var Item in Model.lsttopupreport)
                                                                {
                                                                    <tr class="text-left">
                                                                        <td>@i</td>
                                                                        <td>
                                                                            <img src="@Item.RewardImage" height="100" width="100" />
                                                                            <br />@Item.RewardName
                                                                        </td>
                                                                        <td>@Item.Target Pair</td>
                                                                        <td><label class="@Item.Contact">@Item.Status</label></td>
                                                                        <td hidden="hidden">@Item.QualifyDate</td>
                                                                        <td hidden="hidden">
                                                                            @if (Item.Status == "Achieved")
                                                                            {
                                                                                <a class="btn btn-info btn-sm" href="/User/ClaimReward/@Item.PK_RewardItemId" onclick="return confirm('Are you sure you wish to claim this Award?');">Claim</a>
                                                                                <a class="btn btn-warning btn-sm" href="/User/SkipReward/@Item.PK_RewardItemId" onclick="return confirm('Are you sure you wish to Skip this Award?');">Skip</a>
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                        }

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }


