@model TrustRadhe.Models.Reports

@{
    ViewBag.Title = "DirectLevelTwo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Team
                </a>
            </li>
            <li class="active">
                Direct List Level Two
            </li>

        </ol>


    </div>
</div>
<br />
@using (Html.BeginForm("DirectLevelTwo", "AdminReports", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Direct List Level Two


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <div class="row">
                                <div class="col-md-3">
                                    LoginId
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id", @required = "required" })
                                </div>
                                <div class="col-md-3">
                                    From Date
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From Joining Date" })
                                </div>
                                <div class="col-md-3">
                                    To Date
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "To Joining Date" })
                                </div>
                                @*<div class="col-md-3">
                                    From Activation Date
                                    @Html.TextBoxFor(m => m.FromActivationDate, new { @class = "form-control", @placeholder = "From Activation Date" })
                                </div>
                                <div class="col-md-3">
                                    To Activation Date
                                    @Html.TextBoxFor(m => m.ToActivationDate, new { @class = "form-control", @placeholder = "To Activation Date" })
                                </div>*@
                                <div class="col-md-3">
                                    Leg
                                    @Html.DropDownListFor(m => m.Leg, new SelectList(ViewBag.ddlleg, "Value", "Text"), new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    Status
                                    @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.ddlStatus, "Value", "Text"), new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <br />
                                    <input type="submit" class="btn btn-info" value="Get Details" name="GetDetails" />
                                </div>

                            </div>
                            @*<div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <br />
                                            <input class="btn btn-success pull-right" type="submit" name="GetDetails" value="Get Details" />
                                        </div>
                                    </div>
                                </div>*@
                            <br />
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>

                                        <th>Login Id</th>
                                        <th>Name</th>
                                        <th hidden="hidden">Mobile No</th>
                                        <th hidden="hidden">Email Id</th>
                                        <th>Leg</th>
                                        <th>Joining Date</th>
                                        <th>Package</th>
                                        <th hidden="hidden">Activation Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstassociate != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstassociate)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>

                                                    <td>@Item.LoginId</td>
                                                    <td>@Item.Name</td>

                                                    <td hidden="hidden">@Item.Mobile</td>
                                                    <td hidden="hidden">@Item.Email</td>
                                                    <td>@Item.Leg</td>
                                                    <td>@Item.JoiningDate</td>
                                                    <td>@Item.Package</td>
                                                    <td hidden="hidden">@Item.PermanentDate</td>
                                                    <td>@Item.Status</td>

                                                </tr>
                                                i++;
                                            }

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
        <!-- main-panel ends -->

}


<script src="../vendor/jquery/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
</script>

